# Django
SECRET_KEY=django-insecure-change-me-in-production-random-key-secret-1234567890
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,web
DJANGO_SETTINGS_MODULE=config.settings.dev

# Database (PostgreSQL)
DATABASE_URL=postgres://postgres:postgrespassword@db:5432/fluxo_tarefas_db

# Redis
REDIS_URL=redis://redis:6379/0

# Database credentials (for Postgres service container in docker-compose)
POSTGRES_DB=fluxo_tarefas_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
